@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* The body by default has no scrolling */
body {
    overflow: hidden;
}

/* Moden scrollbar webkit */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #222222;
    color: #3b3b3b;
}

/* Modern dark sidebar div */
.sidebar {
    background-color: #1f4480;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Div for wiki name in top of sidebar */
.sidebar-wiki-name {
    background-color: inherit;
    width: 100%;
    height: 5%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px #000;
    /* animation */
    transition: all 0.2s ease-in-out;
}

.sidebar-wiki-name:hover {
    font-size: 25px;
}

/* sidebar list with modern square scrollbar and a darker background */
.sidebar-list {
    position: relative;
    background-color: #17181a;
    color: #fff;
    width: 100%;
    height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}

.sidebar-search {
    width: 100%;
    height: 5%;
    background-color: inherit;
    color: #fff;
    font-size: 15px;
    text-align: left;
    text-shadow: 5px 5px 5px #000;
}

/* sidebar link modern, 100% width, vertical padding, no margin */
.sidebar-list a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    /* animation */
    transition: all 0.1s ease-in-out;
}
.sidebar-list a:hover {
    background-color: #a1a1a1
}

.sidebar-list a:active {
    background-color: #ffffff
}

.content {
    position: absolute;
    left: 20%;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #0b0c0c;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}

/* Content-topbar */
.content-topbar {
    background: rgb(11,12,12);
    background: linear-gradient(0deg, rgba(11,12,12,1) 0%, rgba(23,24,26,1) 50%, rgba(11,12,12,1) 100%);
    color: #fff;
    width: 100%;
    height: 5%;
    font-family: 'Montserrat', sans-serif;
}

/* Current page name container div positioned at left with 100% height*/
.content-current-page {
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    height: 5%;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    text-decoration: none;
}

.content-current-page a:link {
    color: #e0e0e0;
}
.content-current-page a:visited {
    color: #e0e0e0;
}
.content-current-page a:hover {
    color: #fff;
}
.content-current-page a:active {
    color: #4176cc;
}

/* content-container */
.content-container {
    background-color: #17181a;
    color: #fff;
    top: 5%;
    width: 100%;
    height: 95%;
    margin: 5px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}