/* @import url(normalize.css);*/

body {
  display: flex;
  margin: 0.5em;
}

:root {
  flex-direction: row;
}

/* Center column (content) */
body > div:nth-child(2) {
  width: 100%;
}

/* Left and right columns */
body > div:nth-child(1) {
  width: 10em;
  margin-right: 0.5em;
}

/* Content styles to fill the columns */
body > div {
  box-sizing: border-box;
}

/* Responsive styles */
@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }
  body > div:nth-child(1), body > div:nth-child(3) {
    width: 100%;
  }
}